{{define "Edit"}}
{{template "_head"}}
{{template "_menu"}}
<div class="container">
    <body>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-5">Editar produto</h1>
                <p class="lead">Atualize os dados necessários</p>
            </div>
        </div>
        <form action="update" method="post">
            <input type="hidden" name="id" value="{{.Id}}">
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="nome">Nome:</label>
                        <input type="text" name="nome" id="nome" class="form-control" value="{{.Nome}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="descricao">Descrição:</label>
                        <input type="text" name="descricao" id="descricao" class="form-control" value="{{.Descricao}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="preco">Preço:</label>
                        <input type="text" name="preco" id="preco" class="form-control" value="{{.Preco}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="quantidade">Quantidade:</label>
                        <input type="text" name="quantidade" id="quantidade" class="form-control" value="{{.Quantidade}}">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success" value="salvar">Atualizar</button>
            <a href="/" class="btn btn-info">Voltar</a>
        </form>
    </body>
</div>
</html>
{{end}}